/* *{
    padding: 0;
    margin: 0;
}

.container{
    width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header .navbar{
    display: flex;
    align-items: center;
}
.main-header .navbar ul li{
    display: inline;
    padding-right: 25px;
}
.main-header .navbar img{
    padding-right: 100px;
} */

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.main-header .nav-menu{
    display: flex;
    width: 80%;
    align-items: center;
}
.main-header .nav-menu ul li{
    display: inline;
    padding: 20px;
}
.main-header .nav-menu ul li a{
    text-decoration: none;
    color: #a6a6a6;
}
.main-header .nav-menu ul li a.active,
.main-header .nav-menu ul li a:hover{
    color: #000;
}
.main-header .nav-menu img{
    margin-right: 100px;
    width: 90px;
    height: 40px;
    object-fit: contain;
}

.primary-btn{
    padding: 13px 20px;
    background-color: #1164f5;
    color: #fff;
    border-radius: 10px;
    box-shadow: none;
    border: 0;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
}
section.banner {
    padding-top: 100px;
}
.banner .banner-container {
    display: flex;
    align-items: center;
}
.content{
    padding-right: 100px;
}
.content h1{
    font-size: 70px;
    line-height: 85px;
    padding-bottom: 20px;
}
.content p{
    color: #a6a6a6;
    padding-bottom: 20px;
}
.content-img img{
    height: 500px;
    float: right;
    object-fit: cover;
}